

.navBar{
    position: fixed;
    height: 50px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #111;

}

.logo{
    position: fixed;
    top: 15px;
    left: 20px;
    width: 80px;
}

.avatar{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 30px;
}